################################################################################
syntax: glob

.directory
*.orig
*.rej
*~
.git/
.git-rewrite/
sql/world.sql
.vscode
################################################################################
syntax: regexp
